<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask react</title>
</head>
<body>
    <div class="container">
        <h1></h1>
        <div align="right"> Welcome {{ session }}</div>
        <br>
        <div id="react"></div>
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='js/common/jquery-3.3.1.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/common/react.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/common/ReactRouter.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/common/react-dom.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/common/JSXTransformer.js')}}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/common/materialize.min.css')}}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/common/materialize.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='build/bundle.js')}}"></script>
</body>
</html>